@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');
:root{
    --grey:#929292;
}
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-size:14px;
    font-family: 'Montserrat', sans-serif;
    
}
.container{
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%) ;
}
.product{
    height:60vh;
    margin:0 auto;
    display: flex;
    max-width:600px;
    flex:1;
/*     background-color: black; */
    
}

.mobile-image{
    display: none;
}
.image{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.image{
    height:100%;
    
}
.description{
    background-color:hsl(0, 0%, 100%) ;
    padding:23px 30px;
}
 .description{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.perfume{
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight:200;
    margin-block-end: 1.2rem;
    color:var(--grey);
    font-size: 0.8rem;
     

}
.header{
    margin: 20px 50px 20px 0; 
}
.header, .price{
    font-family:   'Fraunces', serif;
    margin-block-end: 1.2rem;
    font-size: 2em;
    line-height: 1.05;
}
.describe{
    margin-block-end: 1.5rem;
    color:var(--grey);
    font-weight: lighter;  
}

.price{  
  color:hsl(158, 36%, 37%);
  padding-right: 10px;
}
.price1{
    text-decoration: line-through;
    color:var(--grey);
    font-size: 0.8rem;
    vertical-align: super;
     
}
.btn{
    padding:15px 57px;
    background-color:hsl(158, 36%, 37%) ;
    margin-block-start: 3rem;
    cursor:pointer;
    border: none;
    display:block;
    border-radius: 10px;
    color: white;
}
.btn:hover{
    background-color:hsl(158, 84%, 20%);
}
.imagecart{
    padding-right: 8px;
    
}
.footer{
    display: block;
    position:absolute;
    bottom: 0;
    left:0;
}
@media screen and (max-width: 700px){
    .product{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        flex:0.5;   
    }
    .image{
        display: none;
    }
    .mobile-image{
        display: flex;
        width:100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
    .header, .price{
        font-family:   'Fraunces', serif;
        margin-block-end: 1rem;
        font-size: 1.5em;
        line-height:1;
    }
    .btn{
        padding:10px 25px;
    }
    
}
